.Div_BoiteTexte {
    /*Colors*/
    background-color: #171f5d;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;

    /*Border*/
    border-radius: 10px;
}

.Div_BoiteTexteJustifieContenu {
    /*Colors*/
    background-color: #171f5d;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;

    /*Border*/
    border-radius: 10px;

    /*Width*/
    width: auto;
    display: inline-block;
}

.Div_BoiteArticleFullPage {
    /*Colors*/
    background-color: #101a28;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;

    /*Border*/
    border-radius: 10px;
}

.Div_BoiteTitreArticle {
    /*Colors*/
    background-color: #171f5d;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;
    margin-top: 10px;

    /*Border*/
    border-radius: 10px;
}

.Div_TableauMiseAJour {
    /*Couleurs*/
    background-color: #101a28;
    color: white;

    /*Bordures*/
    border-width: 0px;
    border-radius: 10px;

    /*Padding*/
    padding: 5px;
    margin: 10px;

    /*Flex*/
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.Div_TableauTelechargement {
    /*Couleurs*/
    background-color: #101a28;
    color: white;

    /*Bordures*/
    border-width: 0px;
    border-radius: 10px;

    /*Padding*/
    padding: 5px;
    margin: 10px;

    /*Flex*/
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.Div_BoiteContenuMiseAJour {
    /*Colors*/
    background-color: #5d174566;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;

    /*Border*/
    border-radius: 10px;
}

.Div_SimpleFlex {
    /*Flex*/
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.Div_TelechargerAndroid {
    /*Colors*/
    background-color: #013220;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;

    /*Border*/
    border-radius: 10px;
}

.Div_TelechargerWindows {
    /*Colors*/
    background-color: #2A6A9E;

    /*Padding*/
    padding: 10px;

    /*Margin*/
    margin: 10px;

    /*Border*/
    border-radius: 10px;
}


/*Media Querry pour android*/
@media screen and (max-width:600px) {
    .Div_SimpleFlex {
        /*Flex*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        /*Margin*/
        margin: 2px;
        padding: 2px;
    }

    .Div_TableauMiseAJour {
        /*Flex*/
        align-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .Div_BoiteArticleFullPage {
        /*Margin*/
        margin-left: auto;
        margin-right: auto;
    }
    .Div_BoiteTitreArticle {
        /*Margin*/
        margin: 0px;
        margin-top: 0px;
    
        /*Border*/
        border-radius: 10px;
    }
}