/*Corp de page pour toutes les pages*/
body {
        /*Couleurs*/
        background-color: black;
        color: white;
}

/*Navigation pour le menu dans l'en-tête*/
.Nav_MenuEnTete {
        /*Couleurs*/
        background-color: black;
        /*Padding*/
        /*Marges*/

        /*Flex*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        /*Position*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
}

/*pied de page de toutes les pages*/
footer {
        /*Couleurs*/
        background-color: #1d2a47;
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Flex*/
        display: flex;
        flex-direction: row;
        justify-content: center;

        /*Position*/
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}

.Div_TitrePageMenu {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/Banniere_Site.jpg");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;
}

.Div_TitrePageButDuJeu {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/But_Du_Jeu.jpg");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;
}