/*Image dans la barre navigation*/
.Img_ImageNavigation {

        /*Flex*/
        flex: auto;

        /*Taille*/
        width: 64px;
        height: 64px,
}

/*Image centrée full size*/
.Img_InArticleCentered {

        /*Taille*/
        width: 100%;
        height: auto;
        max-width: 850px;

        /*Border*/
        border-radius: 10px;

        /*Margin*/
        margin-left: auto;
        margin-right: auto;

        /*Display*/
        display: block;
}

.Img_Logo {
        /*Taille*/
        width: 100%;

}

/*Media Querry pour android*/
@media screen and (max-width:600px) {
        .Img_Logo {
                /*Taille*/
                width: 50%;

                /*Margin*/
                margin-left: auto;
                margin-right: auto;

                display: block;
        }
}