/*Corp de page pour toutes les pages*/
body {
        /*Couleurs*/
        background-color: black;
        color: white;
}

/*Navigation pour le menu dans l'en-tête*/
.Nav_MenuEnTete {
        /*Couleurs*/
        background-color: black;
        /*Padding*/
        /*Marges*/

        /*Flex*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        /*Position*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
}

/*pied de page de toutes les pages*/
footer {
        /*Couleurs*/
        background-color: #1d2a47;
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        /*Flex*/
        display: flex;
        flex-direction: row;
        justify-content: center;

        /*Position*/
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}

.Div_TitrePageMenu {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/Banniere_Site.jpg");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;

        /*Position*/
        background-position: center center;
        min-height: 100%;


}

.Div_TitrePageButDuJeu {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/But_Du_Jeu.jpg");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;

        /*Position*/
        background-position: center center;
        min-height: 100%;
}

.Div_TitreMiseAJour {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/Prochaine_Mise_A_Jour.jpg");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;

        /*Position*/
        min-height: 100%;
        background-position-x: center;
        background-position-y: center;
        background-size: 100%;
        background-repeat: repeat;
}

.Div_TitrePageTelecharger {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/Telecharger.png");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;

        /*Position*/
        min-height: 100%;
        background-position-x: center;
        background-position-y: center;
        background-size: 100%;
        background-repeat: repeat;
}

.Div_TitrePageUnreal {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/Unreal_Engine_Banner.jpg");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;

        /*Position*/
        min-height: 100%;
        background-position-x: center;
        background-position-y: center;
        background-size: 100%;
        background-repeat: repeat;
}

.Div_TitrePageRésultat {
        /*Couleurs*/
        background-color: rgba(5, 8, 70, 0.541);
        background-image: url("../img/Resultat_Banniere.png");
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        Padding-top: 25px;
        padding-bottom: 25px;

        /*Position*/
        min-height: 100%;
        background-position-x: center;
        background-position-y: center;
        background-size: 100%;
        background-repeat: repeat;
}

.Art_70_prc {
        /*Couleurs*/
        background-color: #0d0f1e;
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        padding: 5px;
        margin: 10px;

        /*Flex*/
        flex: 70%;

        /*Position*/
        height: 100%;
}

.Art_30_prc {
        /*Couleurs*/
        background-color: #0d0f1e;
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        padding: 5px;
        margin: 10px;

        /*Flex*/
        flex: 30%;

        /*Position*/
        height: 100%;
}

article {
        /*Couleurs*/
        background-color: #0d0f1e;
        color: white;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        padding: 5px;
        margin: 10px;
}

.Art_MiseAJour {
        /*Taille*/
        max-width: 40%;
}