.P_AligneDroite {
        /*Texte*/
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        /*Flex*/
        flex: auto;

        /*Padding*/
        padding-left: 5px;
        padding-right: 5px;
}

.P_TitrePage {
        /*Texte*/
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


        /*Padding*/
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 16px;
        padding-bottom: 16px;
}

.P_TitreArticle {
        /*Texte*/
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Txt_Android {
        /*Texte*/
        color: #0a802b;
        background-color: rgb(55, 18, 85);

        /*Border*/
        border-radius: 5px;

        /*Padding*/
        padding: 5px;

        /*Margin*/
        margin: 2px;

}

.Txt_Windows {
        /*Texte*/
        color: #1a7dbf;
        background-color: rgb(55, 18, 85);

        /*Border*/
        border-radius: 5px;

        /*Padding*/
        padding: 5px;

        /*Margin*/
        margin: 2px;
}

p {
        /*Texte*/
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        /*Margin*/
        margin-left: 10px;
        margin-right: 10px;
}

li {
        /*Texte*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.P_CorpArticle {
        /*Texte*/
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;

        /*Margin*/
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 10px;
        margin-right: 10px;
}

.P_PostIt {
        /*Texte*/
        font-size: 9px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;

        /*Margin*/
        margin-top: 50px;

}

.Li_CanevasSousListe {
        /*Display*/
        list-style-type: none;
}

.Li_TitreSectionListe {
        /*Texte*/
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
        color: rgb(107, 0, 246);
}

.P_TitreMiseAJour {
        /*Texte*/
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;

        /*Color*/
        background-color: #160c3f;

        /*Margin*/
        margin: 5px;

        /*Padding*/
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;

        /*Border*/
        border-radius: 10px;


}

.P_TitreDerniereMiseAJour {
        /*Texte*/
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;

        /*Color*/
        background-color: #0c253f;

        /*Margin*/
        margin: 5px;

        /*Padding*/
        padding-top: 5px;
        padding-bottom: 5px;

        /*Border*/
        border-radius: 10px;


}

.P_TitreListeMiseAJour {
        /*Color*/
        background-color: #171f5d;

        /*Border*/
        border-radius: 5px;

        /*Padding*/
        padding: 5px;
        padding-top: 8px;
        padding-bottom: 8px;

        /*Size*/
        width: fit-content;
}

.P_TailleFichier {
        /*Color*/
        background-color: #5d172e;

        /*Margin*/
        margin: 5px;

        /*Padding*/
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;

        /*Border*/
        border-radius: 10px;

        /*Taille*/
        width: fit-content;

}

/*Media Querry pour android*/
@media screen and (max-width:600px) {}