/*Bouton de navigaiton simple*/
.Bt_BoutonNavigation {
        /*Couleurs*/
        color: white;
        background-color: #444444;

        /*Bordures*/
        border-width: 0px;
        border-radius: 10px;

        /*Padding*/
        padding-top: 10px;
        padding-bottom: 10px;

        /*Marges*/
        margin-left: 10px;
        margin-right: 10px;

        /*Flex*/
        flex: auto;
        align-self: center;
}

.Bt_BoutonNavigation:hover {
        background-color: #525252;
        transform: scale(1.05);
}

/*Bouton de navigation pour l'image*/
.Bt_ImageNavigation {
        background-color: transparent;

}

.Bt_ImageNavigation:hover {
        transform: scale(1.05);
}