body {
        /*Couleurs*/
        background-color: black;
}

.Nav_MenuEnTete {
        /*Couleurs*/
        /*Padding*/
        /*Marges*/
        /*Flex*/
        display: flex;
        flex-direction: row;
        justify-content: center;
}